{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "quotes": "off",
    "jsx-quotes": ["warn", "prefer-double"], // 允许双引号，降级为警告
    // 或者完全关闭: "jsx-quotes": "off"
    "import/order": "off" 
  }
}